body{
    background-color: #32de84;
}

#voterinfo{
    margin-top: 10%;
    font-size: 35px;
    
}
#group{
    background-color: white;
    width: 50%;
    padding: 10px;
    float: right;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding-left: 20px;
    padding-top: 20px;
   
}
#votebtn{
    background-color: aqua;
    
    padding: 10px;
    font-size: medium;
    font-family: cursive;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    
}
#voted{
    background-color: green;
    border-radius: 50px;
    border-width: 3px;
    padding: 10px;
    font-size: medium;
    font-family: cursive;
    color: yellow;
}
#Logout{
    background-color: aqua;
    border-radius: 50px;
    padding: 10px;
    font-size: medium;
    font-family: cursive;
    float: right;
    border-width: 3px;
}
#header{
    text-align: center;
    font-family: cursive;
    padding: 25px;
}
#CANDIDATE{
    margin-top: 30px;
    color: black;
    
}
#info{
    background-color: white;
    width: 40%;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    padding-left: 20px;
    padding-top: 20px;
    border-width: 3px;
}

#logo{
    margin-bottom: 100px;
}